.navbar-brand{
	font-family:Fine College;
	font-size: 50px;
	font-weight: bolder;
}
.navbar{
	background: black;
	padding: 0 5%;
	color: #F0D3FF;
}
.cart{
	margin: auto;
	margin-left: 10px;
	cursor: pointer;
}
a.cart :hover{
	color: #D69FF2;
}
#menu{
	background: #A134D8;
	font-weight: bolder;
	padding: 0 5%;
}
.navbar ul li {
	cursor: pointer;
	text-align: center;
}
.navbar ul li:hover{
	background: #D69FF2;
}
.product{
	height: 350px;
	display: block;
	width: 33.33%;
	float: left;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.product img{
	height: 50%;
}
.ProductsFilter{
	padding: 15px 25%; 
}
.ProductsFilter i{
	padding: 10px 10px;
	background: white;
}